html,
body {
    margin: 0;
    font-family: Quicksand-variable;
    color: rgb(231, 29, 29);
}

header,
footer {
    min-height: 10vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #b5593c;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  wheat;
    color: #a53410;
}

#branding {
    font-family: Quicksand-Bold;
    font-size: 2rem;
    color: #ffebee;
}

li {
    margin: 0 1rem;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    color: wheat;
}

a:hover {
    text-decoration: underline;
    color: #ffebee;
}

section {
    padding: 8rem 9% 2rem;
}

.home {
    min-height: 60vh;
    background-image: url(image/student-849824_1920.jpg);
    background-size: cover;
    color: #a53410;
}

.home-content h2 {
    font-size: 4.2rem;
    font-weight: 700;
    margin-top: -20px;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 500;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-left: 300px;
}


.about {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #ffebee;
}

.about-img img {
    width: 50vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.services {
    min-height: 60vh;
    background-color: #a53410;
}
.services h2 {
    margin-bottom: 5rem;
  }
  
  .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .services-container .services-box {
    flex: 1 1 10rem;
    background-color: #ffebee;
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
  }
  
  .services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1);
  }
  
  
  .services-box h3 {
    font-size: 1.3rem;
  }
  
  .services-box h1 {
    font-size: 1.0rem;
  }

  .services-box p {
    font-size: 1.0rem;
    margin: 1rem 0 2rem;
  }

.heading {
    color: #b19053;
    margin-top: 50px;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background:#a53410;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.5rem;
    color: #b19053;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
  }
  
  .btn:hover {
    box-shadow: none;

  }


@font-face {
    font-family: 'Quicksand-variable';
    src: url(Font/Quicksand-VariableFont_wght.ttf) format('truetype');

    font-family: 'Quicksand-Bold';
    src: url(Font/Quicksand-Bold.ttf) format('truetype');
}

@media (max-width: 550px) {

    header,
    ul {
        display: block;
        text-align: center;
        margin: 1rem;
    }