html,
body {
    margin: 0;
    font-family: Quicksand-variable;
    color: rgb(231, 29, 29);
}

header,
footer {
    min-height: 10vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #b5593c;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    color: #a53410;
}

#branding {
    font-family: Quicksand-Bold;
    font-size: 2rem;
    color: #ffebee;
}

li {
    margin: 0 1rem;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    color: wheat;
}

a:hover {
    text-decoration: underline;
    color: #ffebee;
}

section {
    padding: 8rem 9% 2rem;
}

.home {
    min-height: 60vh;
    background-image: url(image/student-849824_1920.jpg);
    background-size: cover;
    color: #a53410;
    justify-content: center;
    align-items: center;
}


#click {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
    background-color: wheat;
    position: absolute;
    top: 56vh;
    left: 71vh;
    width: 16vw;
    height: 19vh;
    border: 44px solid #a53410;
    box-sizing: border-box;
}

#home-content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
    background-color: wheat;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 23vw;
    height: 80vh;
    border: 2px solid #a53410;
    ;
    box-sizing: border-box;
}

h2,
h1,
p {
    margin: 0;
    padding: 0;
}

.great {
    margin-top: 15px;
    text-align: center;
    font-size: 3.0rem;
}

.slogan {
    margin-top: 40px;
    text-align: justify;
    font-size: 2.0rem;
}


.about {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #ffebee;

}

.about.visible {
    opacity: 1;
}

.about-img img {
    width: 50vw;
}


.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services {
    min-height: 60vh;
    background-color: #a53410;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 10rem;
    background-color: #ffebee;
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1);
}


.services-box h3 {
    font-size: 1.3rem;
}

.services-box h1 {
    font-size: 1.0rem;
}

.services-box p {
    font-size: 1.0rem;
    margin: 1rem 0 2rem;
}

.heading {
    color: #b19053;
    margin-top: 10px;
    text-align: center;
    font-size: 3.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #a53410;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.5rem;
    color: #b19053;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none;

}

.slogan {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}


section {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

/* Add a class to make sections visible when scrolled into view */
section.visible {
    opacity: 1;
}

#design {
    background: linear-gradient(0deg, #d19d3c, transparent);
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 3vh;
}

.design p {
    font-size: 1.5rem;
}

.design h2 {
    font-size: 2.5rem;
    color: #b19053;
}

.design h3 {
    font-size: 1.5rem;
    color: #a53410;
}

@font-face {
    font-family: 'Quicksand-variable';
    src: url(Font/Quicksand-VariableFont_wght.ttf) format('truetype');

    font-family: 'Quicksand-Bold';
    src: url(Font/Quicksand-Bold.ttf) format('truetype');
}

@media (max-width: 550px) {

    header,
    ul {
        display: block;
        text-align: center;
        margin: 1rem;
    }